.container {
    position: relative;
    width: calc((100vw - 80px)/6);
    height: calc((100vw - 80px)/6);
    margin-right: 10px;
    margin-bottom: 10px;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 770px) {

    .container {
        position: relative;
        width: calc((100vw - 50px)/3);
        height: calc((100vw - 50px)/3);
        margin-right: 10px;
        margin-bottom: 10px;
    }

}